*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1rem = 10px */
  font-size: 50%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  height: 101vh;

  box-sizing: border-box;
}

.title {
  font-size: 3.6rem;
  margin: 1rem;
}

.accordion {
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.item {
  display: grid;
  grid-template-columns: 8fr 1fr;
  align-items: center;

  padding: 1rem;
  border-top: 2px solid lightblue;
}

.item__input {
  appearance: none;
}

.item__title {
  grid-column: 1 / 2;
  font-size: 2.4rem;
}

.item__icon {
  justify-self: center;

  width: 1.5rem;
  height: 1.5rem;

  background-image: url("./icons/plus.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.item__content {
  padding-top: 0.5rem;
  width: 100%;
  grid-column: 1 / -1;
  justify-self: center;

  max-height: 0;
  transition: all 0.3s;
}

/* Checked functionality */
.item__input:checked ~ .item__title {
  color: lightseagreen;
}

.item__input:checked ~ .item__content {
  max-height: 100vh;
}

.item__input:checked ~ .item__icon {
  background-image: url("./icons/cross.svg");
}
