:root {
  --cl-primary-blue: #339af0;
  --cl-secondary-blue: #a5d8ff;
  --cl-black: #212529;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  height: 101vh;

  box-sizing: border-box;
  color: var(--cl-black);
}

.title {
  font-size: 3rem;
  margin: 1rem;
}

.accordion {
  max-width: 60rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.item {
  display: grid;
  grid-template-columns: 8fr 1fr;
  align-items: center;

  padding: 1rem;
  border-top: 2px solid var(--cl-secondary-blue);

  color: var(--cl-primary-blue);
}

.item__input {
  appearance: none;
}

.item__title {
  grid-column: 1 / 2;
  font-size: 2.2rem;
}

.item__icon {
  justify-self: end;
  transform: rotate(0deg);
  transition: all 0.3s;
}

.item__content {
  padding-top: 0.5rem;
  width: 100%;
  grid-column: 1 / -1;
  justify-self: center;

  max-height: 0;
  transition: all 0.3s;
}

/* EXPANDED STATE */
.item__input:checked ~ .item__title {
  color: var(--cl-black);
}

.item__input:checked ~ .item__content {
  max-height: 100vh;
}

.item__input:checked ~ .item__icon {
  /* background-image: url("./icons/cross.svg"); */
  transform: rotate(90deg);
}

/*
  MEDIA QUERIES

  Mobile: 320px = 20em;
  Tablet: 820px = 51.25em;
  Desktop: 1920px = 120em;
*/

@media only screen and (min-width: 51.25em) {
  html {
    font-size: 56.25%;
  }

  .item__content {
    width: 80%;
  }
}

@media only screen and (min-width: 120em) {
  html {
    font-size: 62.5%;
  }

  .accordion:hover > * {
    transition: all 0.3s;
    color: var(--cl-black);
  }

  .item__icon {
    opacity: 0;
  }

  .accordion:hover .item__icon {
    opacity: 1;
  }

  .item:hover {
    cursor: pointer;
  }

  .item:hover .item__content {
    max-height: 100vh;
  }

  .item:hover .item__icon {
    transform: rotate(90deg);
  }
}
